body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: Roboto, sans-serif;

  background: #eee;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 16px;

  font-family: monospace;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

input {
  margin-top: 8px;
  padding: 8px;
  border: 2px solid slategrey;
  border-radius: 20px;

  outline: none;
}

button {
  cursor: pointer;

  height: 38px;
  border: none;
  border-radius: 19px;

  font-family: sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;

  background-color: #e25544;
}

.message {
  left: 10px;

  height: 30px;
  padding: 10px;
  border-radius: 15px;

  text-align: center;

  background-color: rgb(207, 202, 231);
}
