body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 16px;
  font-weight: 700;
}

input {
  margin-top: 8px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid slategrey;
  outline: none;
}

button {
  background-color: #e25544;
  height: 38px;
  border-radius: 19px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.message {
  border-radius: 15px;
  background-color: rgb(207, 202, 231);
  text-align: center;
  padding: 10px;
  left: 10px;
}
